//Structure
$spacing-outer-left = 50px
$spacing-outer-right = 50px
$spacing-outer-top = 50px
$spacing-outer-bottom = 50px

$grid-breakpoints = {
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
}

// Typo
$font-header = 'Roboto Slab', serif
$font-body = 'IBM Plex Sans Condensed', sans-serif
$font-code = 'Roboto Slab', serif
