:root
  --color--primary #161F38
  --color--primary-hover #395997
  --color--secondary #1D122D
  --color--selection #ffffff
  --color--selection-background #000000
  --color--muted #ADA9B3
  --color--body #5B5467
  --color--body-background #f8f8f8
  --color--link #000000
  --color--border rgba(0, 0, 0, 0.15)

  --font--header $font-header
  --font--body $font-body
  --font--code $font-code

  --spacing--outer-left: $spacing-outer-left
  --spacing--outer-top: $spacing-outer-top
  --spacing--outer-right: $spacing-outer-right
  --spacing--outer-bottom: $spacing-outer-bottom
  --container-max-width: 900px
