for index in 1 2 3 4 5
  h{index}
    font-family var(--font--header)
    margin 0
    margin-bottom 20px

h1
  font-weight 600
  font-size: 30px
  color: var(--color--secondary)
  letter-spacing: 0
  line-height: 1.25
